# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.EthereumTransactionSearch.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\hungn\source\repos\EthereumTransactionSearch\.idea\.idea.EthereumTransactionSearch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
